﻿@model AspNet.Events.Contract.Dto.EventDto

@{
    ViewBag.Title = "Create event";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="padding-top: 20px; padding-bottom: 20px;">
            <div id="app">
                <v-app id="inspire">
                    <table style="width: 20%">
                        <tr>
                            <td>
                                <h3>
                                    Create new event:
                                </h3>
                            </td>
                            <td>
                                <v-btn flat color="success" @@click="postEvent">
                                    Submit event
                                </v-btn>
                            </td>
                        </tr>
                    </table>
                    <h3>
                        Event details:
                    </h3>
                    <table style="border-spacing: 10px; border-collapse: separate;">
                        <tr>
                            <td>
                                <v-text-field v-model="eventName"
                                              label="Name"
                                              required></v-text-field>
                            </td>
                            <td>

                                <v-text-field v-model="eventDesc"
                                              label="Description"
                                              required></v-text-field>
                            </td>
                        </tr>
                    </table>
                    <h3>
                        Invited friends :
                    </h3>
                    <table style="border-spacing: 10px; border-collapse: separate;">
                        <tr>
                            <td>
                                <v-text-field v-model="currentFriendFirstName"
                                              label="Firstname"
                                              required></v-text-field>
                            </td>
                            <td>

                                <v-text-field v-model="currentFriendLastName"
                                              label="Lastname"
                                              required></v-text-field>
                            </td>
                            <td>

                                <v-text-field v-model="currentFriendEmail"
                                              label="Email"
                                              required></v-text-field>
                            </td>
                            <td>
                                <v-btn flat color="success" @@click="addFriend">
                                    Add new friend
                                </v-btn>
                            </td>
                        </tr>
                    </table>
                    <div v-if="friendsList.length > 0">
                        <table class="tableBorder">
                            <th class="thBorderCenter">
                                Firstname
                            </th>
                            <th class="thBorderCenter">
                                Lastname
                            </th>
                            <th class="thBorderCenter">
                                Email
                            </th>
                            <th class="thBorderCenter">
                                Actions
                            </th>
                            <tr v-for="friend of friendsList" class="trBorder">
                                <td class="tdBorderCenter">
                                    {{friend.FirstName}}
                                </td>
                                <td class="tdBorderCenter">
                                    {{friend.LastName}}
                                </td>
                                <td class="tdBorderCenter">
                                    {{friend.Email}}
                                </td>
                                <td class="tdBorderCenter" style="width: 10%;">
                                    <v-btn flat color="red" @@click="removeFriend(friend.id)">
                                        <v-icon>remove_circle_outline</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div v-else>
                        <h2>
                            No friend invited, invite one.
                        </h2>
                    </div>
                </v-app>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style type="text/css">
    .tableBorder {
        border-collapse: separate; 
        border: 1px solid black; 
        width: 60%;
    }

    .tdBorderCenter {
        border: 1px solid black;
        text-align: center;
    }

    .thBorderCenter {
        border: 1px solid black;
        text-align: center;
        background: #e8e8e8;
    }

    .trBorder {
        border: 1px solid black;
    }

</style>

<script type="text/javascript">
    var vm = new Vue({
            el: '#app',
            data: () => ({
                eventName: '',
                eventDesc: '',  
                currentFriendFirstName: '',
                currentFriendLastName: '',
                currentFriendEmail: '',
                friendsList: []
            }),

            methods: {
                addFriend: function () {
                    if (this.currentFriendFirstName !== '' && this.currentFriendLastName !== '' && this.currentFriendEmail !== '') {
                        this.friendsList.push({
                            id: this.friendsList.length + 1,
                            FirstName: this.currentFriendFirstName,
                            LastName: this.currentFriendLastName,
                            Email: this.currentFriendEmail
                        });

                        this.currentFriendFirstName = '';
                        this.currentFriendLastName = '';
                        this.currentFriendEmail = '';
                    }
                },

                removeFriend: function (id) {
                    this.friendsList = this.friendsList.filter(function (friend) {
                        return friend.id !== id;
                    });
                },

                postEvent: function () {
                    if (this.eventName !== '') {
                        $.ajax({
                            url: "@Url.Action("OnPostEvent")",
                            data: JSON.stringify({
                                    Name: this.eventName,
                                    Description: this.eventDesc,
                                    InvitedFriends: this.friendsList
                                }
                            ),

                            contentType: "application/json",
                            type: "POST",

                            success: function () {
                                console.log("success");
                            }
                        });
                    }
                }
            },

           
        }
    );
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
